<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card card-stats">
          <div class="card-header" data-background-color="orange">
            <i class="material-icons">search</i>
          </div>
          <div class="card-content">
            <div class="form-group form-black label-floating is-empty title">
              <input type="text" class="form-control" [(ngModel)]="search" (keyup)="onSearch()" />


              <p class="category"> </p>
              <h3>Search </h3>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="orange">
            <i class="material-icons">content_copy</i>
          </div>
          <div class="card-content" *ngIf="!search">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
                {{order}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                  <a (click)="order='name';onLazyLoad(null)">name</a>
                </li>
                <li>
                  <a (click)="order='abv';onLazyLoad(null)">abv</a>
                </li>
                <li>
                  <a (click)="order='ibu';onLazyLoad(null)">ibu</a>
                </li>
                <li>
                  <a (click)="order='isOrganic';onLazyLoad(null)">is Organic</a>
                </li>
              </ul>
            </div>
            <p class="category"> </p>
            <h3 class="title">Order By </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="orange">
            <i class="material-icons">content_copy</i>
          </div>
          <div class="card-content" *ngIf="!search" >
            <div class="dropdown" >
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
                {{orderDirecation}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                  <a (click)="orderDirecation ='ASC' ; onLazyLoad(null)">ASC</a>
                </li>
                <li>
                  <a (click)="orderDirecation ='DESC' ;onLazyLoad(null)">DESC</a>
                </li>
              </ul>
            </div>
            <p class="category"> </p>
            <h3 class="title">Order Direcation </h3>
          </div>
        </div>
      </div>


      <div class="row dashboard">
        <div class="col-lg-12 col-md-12">
          <div class="card">

            <div class="card-content">

              <div class="tab-content" *ngIf="searchObject && searchObject.data">
                <span> {{searchObject.totalResults }} </span>
                <p-dataList [value]="searchObject.data" [paginator]="true" [lazy]="true" [totalRecords]="searchObject.totalResults" [rows]="50"
                  [pageLinks]="3" [rowsPerPageOptions]="[5,10,50]" rowHover="true" selectionMode="single" (onPage)="onLoad($event)">
                  <ng-template let-product pTemplate="item">
                    <div class="padding-15 ui-widget-content ">
                      <div>
                        <div>
                          <span class="titleBackground blue" *ngIf="product.isOrganic == 'Y'" title="isOrganic">
                            <i class="material-icons">done</i>
                          </span>
                          <h3 class="title">
                            <strong class="main-subject">{{product.name}} </strong>
                            <small class="titleBackground blue" *ngIf="product.abv" title="The alcohol by volume of the beer (expressed as a percentage).">
                              abv {{product.abv}} %
                            </small>
                            <small class="titleBackground blue" *ngIf="product.ibu" title="The IBU (international bittering unit) value is a measure of how bitter a beer is. The higher the number, the more bitter the beer.">
                              ibu {{product.ibu}}
                            </small>


                            <small class="titleBackground blue" *ngIf="product.available && product.available.description">
                              {{product.available.description}} </small>

                          </h3>
                          <p class="category" *ngIf="product.glass && product.glass.name">
                            <strong>Glass {{product.glass.name }} </strong>
                            {{ product.servingTemperatureDisplay }} </p>
                        </div>
                      </div>
                      <div>
                        <div class="row">
                          <div class="col-md-9">
                            <p> {{product.description}}</p>
                            <p class="category" *ngIf="product.foodPairings">
                              Food Pairings {{product.foodPairings }} </p>
                            <p class="category" *ngIf="!product.foodPairings">
                              Beer Has No Food Pairings Available. </p>
                          </div>
                          <div class="col-md-3" *ngIf="product.breweries&& product.breweries.length > 0
                           && product.breweries[0].images && product.breweries[0].images.medium">
                            <img [src]="product.breweries[0].images.medium" [title]="product.breweries[0].name" class="rcorners3" style='width:100%;'
                              border="0" alt="Null">
                          </div>


                        </div>
                      </div>
                    </div>
                  </ng-template>
                </p-dataList>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>